.cardimage {
    display: flex;
    flex-direction: column;
    margin: 50px;
    height: 100px;
    width: 100px;
}
.title {
    font-size: 10px;
    text-align: center;
}
img {
    background-color: greenyellow;
}
.title h1 {
    background-color: greenyellow;
    color: darkgreen;
}