.card {
    display: flex;
    flex-direction: column;
    gap: 100px;
    color: greenyellow;
}
.upper {
    display: flex;
    gap: 800px;
}
.intro {

    padding: 40px;
    padding-left: 60px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 550px;
}
.score {
    padding-top: 10px;
    font-size: 20px;
}
.lower {
    display: flex;
    flex-wrap: wrap;
}
.img {
    border: 2px solid black;
    /* margin: 10px; */
    /* padding: 50px; */
    border-radius: 50%;
    margin: 10px;
    background-color: greenyellow;
}